:root{ /* root é global*/
    --primary-color: #F5CF06; /* criando "variavél" cor primaria (toda variavél começa com "--") */
    --secundary-color: #8E4106;
}
body{
    height: 100vh; /* 100vh ocupa a tela interia, sem deixar barra de rolagem */
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column; /* pra não fica um do lado do outro */
    padding: 70px;
    font-family: Righteous, sans-serif;
}
header{
    display: flex;
    gap: 16px;
    align-items: center;
}
header span{
    font-size: 32px;
    color: var(--secundary-color);
}
main{
    background-color:purple;
    flex-grow: 1;
}
footer{
    background-color: blue;
}