:root{ /* root é global*/
    --primary-color: #F5CF06; /*criando "variavél" cor primaria (toda variavél começa com "--")*/
    --secundary-color: #8E4106;
}
body{
    height: 100vh; /* 100vh ocupa a tela interia, sem deixar barra de rolagem*/
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column; /*pra não fica um do lado do outro*/
}
header{
    background-color: aqua;
}
main{
    background-color:purple;
    flex-grow: 1;
}
footer{
    background-color: blue;
}